* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(45deg,darkred,black);
    background-size: 400%,400%;
    animation: cambiar 5s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
@keyframes cambiar{
    0%{background-position: 0 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0 50%;}
}
form {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 420px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 10px;
}

form h2 {
font-size: 30px;
color: black;
margin-bottom: 35px;
}

input {
    padding: 17px;
    border-radius: 25px;
    background-color: transparent;
    border: 2px solid silver;
    margin-bottom: 30px;
    outline: none;
    color: black;
    font-size: 16px;
}

::placeholder {
color: #89879b
}

.btn {
    background-color: white;
    border: 2px solid black;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(204, 204, 204);
    border: 2px solid black;
}

@media (max-width:991px) {
    body{
        padding: 30px;
    }

    form{
        width: 340px;
    }
}